<nav>
  <div class="nav-wrapper blue darken-2">
    <a href="#" class="brand-logo"><img class="responsive-img" height="42" width="42" src='assets/images/rocket_league_1.png'></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
<main>
  {{outlet}}
</main>
